<h1>Welcome {{user.firstName}}</h1>
<h4>Your Stories</h4>
{{#if stories}}
<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Status</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {{#each stories}}
    <tr>
      <td><a href="/stories/show/{{id}}">{{title}}</a></td>
      <td><span class="card-title">{{formatDate date 'MMMM do YYYY, h:mm:ss a'}}</span></td>
      <td><span class="dash-status">{{status}}</span></td>
      <td><a class="btn left-align" href="/stories/edit/{{id}}"><i class="fa fa-pencil"></i></a></td>
      <td><form action="/stories/{{id}}" method="POST" id="delete-form"><button type="submit" class="btn left-align red"><i class="fa fa-trash"></i></button></form></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>You have not put any stories...</p>
{{/if}}